header {
    background-color: white;
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
}

.logo {
    background-image: url(logo.png);
    background-size: cover;
    width: 70px;
    height: 70px;
}

nav {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

nav >* {
    text-decoration: none;
    font-size: 14pt;
    color: indigo;
    cursor: pointer;
}

.header-btn {
    width: 200px;
    height: 50px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #2EB300;
    color: white;
    cursor: pointer;
}

.header-btn>* {
    text-decoration: none;
    font-weight: 400;

}